
.reviews-info-wrapper {
  margin: 18px 0;
  margin-bottom: 15px;
  display: flex;
  .star-icon {
    color: rgb(255, 217, 0);
    margin-right: 2px;
  }

  .rating {
    font-weight: bold;
    margin-right: 5px;
  }
}
