@import '../../../../../sass/vars.scss';
@import '../../../../../sass/mixins.scss';


.bottom-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    flex-direction: column-reverse;
    align-items: flex-start;
    .ctaButton {
      margin-bottom: 6px;
      margin-top: 12px;
    }
  }

  .installed-icon {
    color:#60bc57;
    margin-right: 3px;
    margin-bottom: 3px;
    width: 20px;
    height: 20px;
  }
  .installed-view {
    display: flex;
    align-items: center
  }
  .sale-text{
    color: #ea5f0e !important;
    font-weight: bolder;
  }
}

