@import '../../../../sass/vars.scss';
@import '../../../../sass/mixins.scss';

.app-card-wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
  width: $card-width;
  height: fit-content;
  background: white;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 175ms ease-in-out,box-shadow 250ms ease-in-out ,opacity 175ms linear;

  //initial value for animations
  opacity: 0;
  transform: scale(0.8);

  &.entered {
    transform: scale(1);
    opacity: 1;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow:  0 3px 24px 0 rgba(22, 45, 61, 0.09);
  }

  &.transparent {
    background: transparent;
    border: solid 1px $border-color;
  }

}


.separator {
  height: 2px;
  background: $border-color;
  border-radius: 8px;
  margin-bottom: 11px;
  margin-top: 15px;
  @include mobile {
    display: none;
  }
}
