.top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: flex-start;

  .app-icon {
    width: 54px;
    height: 54px;
    border-radius: 14px;
    box-sizing: border-box;
    transition: transform 200ms linear;
  }

  [data-hook="app-badge"] {
    border-radius: 3px;
    color: #32536a;
    border-color: #32536a;
    background: transparent !important;
    cursor: pointer;
  }
}

