.app-details {
  text-align: left;

  .teaser {
    display: block;
    margin-top: 5px;
    height: 36px;
  }
  h3 {
    margin: 0;
    font-size: 18px;
    font-family: HelveticaNeueW02-65Medi;
  }
}
